<div class="container">
	<div class="navigation">
		<div class="navigation__col">
			<input class="navigation__button list" type="button" value="List" (click)="clickList()">
		</div>
		<div class="navigation__col" >
			<input class="navigation__button add" type="button" value="Add" (click)="clickAdd()">
		</div>
		<div class="navigation__col">
			<input class="navigation__button update" type="button" value="Update" (click)="clickUpdate()">
		</div>
		<div class="navigation__col">
			<input class="navigation__button remove" type="button" value="Remove" (click)="clickRemove()">
		</div>
	</div>
	<div class="catalogue" #catalogue>
		
	</div>
</div>